.header, .nav, .content {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 600px;
}

.nav > a {
    margin: 1rem;
}

.calculator-container {
    text-align: center;
}

.calculator-container > div, h2 {
    margin: 2rem;
}

.calculator-container > .row > select {
    margin: 1rem;
}

.add-container {
    padding: 1rem;
}

.add-container > button {
    margin: 1rem;
}

.list-container {
    padding: 1rem;
}

.list-container > .list-item {
    margin: 1rem;
}

.list-container > .row {
    margin-top: 2rem;
}