.header, .nav, .content {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 600px;
}

.nav > a {
    margin: 1rem;
}

.calculator-container {
    text-align: center;
}

.calculator-container > div, h2 {
    margin: 2rem;
}

.calculator-container > .row > select {
    margin: 1rem;
}