<h2>
    {{this.model.title}}
</h2>
<div>
    <i>Price:</i>{{this.model.price}}
</div>
<div>
    <i>Pages:</i>{{this.model.pages}}
</div>
<h3>
    Publication house details
</h3>
<div>
    <i>Name:</i>{{this.model.publicationHouse}}
</div>